.checkoutproduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.checkoutroduct_image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}
.checkoutproduct_info {
  padding-left: 20px;
}
.checkoutproduct_rating {
  display: flex;
}
.checkoutproduct_title {
  font-size: 17px;
  font-weight: 800;
}
.checkoutproduct_info > button {
  background: orange;
  border: 1px solid;
  margin-top: 10px;
  background-color: rgb(214, 150, 21);
  color: black;
}
