@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Imperial+Script&family=Praise&family=Roboto:wght@300&display=swap");
.header {
  background-color: #131921;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: space-between;
}
.header_logo > h3 {
  color: white;
  font-family: "Imperial Script", cursive;
  font-size: 35px;
}
.header_nav {
  display: flex;
  align-items: flex-end;
}
.header_optionBasket {
  margin-left: 10px;
  margin-right: 10px;
}
.header_link {
  color: white;
  text-decoration: none;
}
